/* .form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
} */

input[type="text"] {
  color: #20B2AA ;
  transition: 0.5s;
  outline: none;
  border-bottom: 1px solid #747474;

}

input[type=text]:focus {
  border-bottom: 3px solid #20B2AA !important;
}


input[type="password"] {
  color: #20B2AA;
  transition: 0.5s;
  outline: none;
  border-bottom: 1px solid #747474;

}

input[type=password]:focus {
  border-bottom: 3px solid #20B2AA !important;
}

input[type="email"] {
  color: #20B2AA;
  transition: 0.5s;
  outline: none;
  border-bottom: 1px solid #747474;

}

input[type=email]:focus {
  border-bottom: 3px solid #20B2AA !important;
}